<div id="wrapper">
  <div class="container mt-5 centerDiv">
    <h3>Obtener Digito Verificador</h3>
    <div class="input-group mt-3 centerDiv">
      <div class="vcenter">
        <input maxlength=10 type="text" class="form-control-lg mr-4" #run placeholder="Ingrese RUN" aria-label="run" (keyup)="validaRut(run.value)"
          (keydown.enter)="mostrarDatosRun()">
        <i class="fas fa-minus"></i>
        <span class="form-control-lg input-sm" [ngClass]="{'alert alert-success': isOkRun}">{{dv}}</span>
      </div>
    </div>
    <hr>
    <div class="row vcenter">
      <div class="alert alert-danger" role="alert" *ngIf="errores">
        {{errores}}
      </div>
    </div>
    <br>
    <div class="row vcenter">
      <div class="card " style="width: 18rem;">
        <div class="card-header">
          RUN: {{run.value}} - {{dv}}
        </div>
      </div>
    </div>
  </div>
</div>